#profile.gallery-group-main
  .dashboard-weight.card-style.frosted-gross
    .info-top
      .avatar
        img(data-lazy-src=url_for(theme.profile.avatar) alt='avatar')
      .author-info
        .author-info-en
          | !{theme.profile.author_info.line1}
        .author-info-cn
          | !{theme.profile.author_info.line2}
        .author-info-status
          | !{theme.profile.author_info.line3}
    .info-bot
      div
        for i in theme.profile.buttons
          a.author-btn(href=url_for(i.link))
            img(data-lazy-src=url_for(i.img) alt='button')
            .hidden-info
              | !{i.name}
        .info-tips
    .info-social
      a.info-social-i(href=url_for(theme.profile.github))
        i.fab.fa-github
      a.info-social-i(href=url_for(theme.profile.px))
        i.fab.fa-500px
      a.info-social-i(href=url_for(theme.profile.instagram))
        i.fab.fa-instagram
      a.info-social-i(href=url_for(theme.profile.telegram))
        i.fab.fa-telegram-plane
      a.info-social-i(href=url_for(theme.profile.youtube))
        i.fab.fa-youtube
      a.info-social-i(href=url_for(theme.profile.bilibili))
        i.fab.fa-bilibili
      .plant-3d
        img(src=url_for(theme.profile.decoration.plant_1) alt='plant_3d')
  .dashboard-weight
    .weight-half.card-style.top.frosted-gross
      #github_container
    .weight-half.card-style.frosted-gross
      #gantt(style='width:100%;height:100%')
  .dashboard-weight.card-style.frosted-gross
    .skills-title SKILLS
    .plant2
      img(src=url_for(theme.profile.decoration.plant_2) alt='plant_3d')
    #sun(style='position:relative;width:100%;height:100%')
  .dashboard-weight.card-style.frosted-gross
    div
      div
        .pattern-3d
          img.rocket(src=url_for(theme.profile.decoration.rocket))
          img.cloud(src=url_for(theme.profile.decoration.cloud))
        .declaration
          | !{theme.profile.declaration}
  .dashboard-weight.card-style.video.frosted-gross
    video.card-video-black(src=url_for(theme.profile.video_black) width='100%' height='100%' controls='controls' preload='auto')
    video.card-video-white(src=url_for(theme.profile.video_white) width='100%' height='100%' controls='controls' preload='auto')
  .dashboard-weight
    .weight-quarter.card-style.frosted-gross.top.left.radar-contianer
      #radar(style='position:relative;width:100%;height:100%')
      a.personility-title(href=url_for(theme.profile.personility))
        | !{theme.profile.personility_title}
    .weight-quarter.card-style.frosted-gross.top.interests
      .interests-box
          for i in theme.profile.interests
            .interest
              img(src=url_for(i) alt='interests')
    .weight-quarter.left.card-style.frosted-gross
      img.desktop(src=url_for(theme.profile.desktop_img))
    .weight-quarter.card-style.frosted-gross
      #visitorMap.vistor-map
#record.gallery-group-main
  .dashboard-title
    a LIFE RECORDS 
  #fitness.dashboard-weight.card-style
    .fitness-title
      #fitness-circle
      .fitness-title-text
        .fitness-title-e
          a.red Fitness
          p 100 Times
        .fitness-title-e
          a.green Basketball
          p 20 Times       
        .fitness-title-e
          a.blue Others
          p 10 Times
      //- .fitness-year 2022       
    #fitness-line
  #goals.dashboard-weight.card-style
    .goal 
      a Life style part 
    .goal 
      a is still
    .goal 
      a building
    .goal
      a ... ... 
  #reminder.dashboard-weight.card-style
    .reminder
      #today.cell
        .logo
          i.fas.fa-calendar-day
        .num 10
        .title Today
      #plan.cell
        .logo
          i.fas.fa-calendar-alt
        .num 5
        .title Plan
      #all.cell
        .logo
          i.fas.fa-inbox
        .num 50
        .title All
      #flag.cell
        .logo
          i.fas.fa-star
        .num 9
        .title Flag
    a.link(href=url_for(theme.profile.habitica))
      | !{theme.profile.habitica_info}

for i in theme.profile.scripts
  script(src=url_for(i))
