link(href=url_for(theme.pages.sponsor_css) rel='stylesheet')
#sponsors
    ul.cloud(role='navigation' data-show-value='' aria-label='Webdev word cloud')
        if site.data.sponsor
            each i in site.data.sponsor
                li
                    a(href="#" data-weight=i.sponsorship)
                        | !{i.name}
.sponsors-qr-codes
    for i in theme.reward.QR_code
        .sponsors-qr-code
            a= i.text
            img.sponsors-pay-img(src=url_for(i.img))
