#things.container
    .wrapper
        ul.sortable__nav.nav
            li
                a.nav__link(data-sjslink="0") &#x1F33F; 
            li
                a.nav__link(data-sjslink="1") &#x1F5A5; 
            li
                a.nav__link(data-sjslink="2") &#x1F6CD; 
            li
                a.nav__link(data-sjslink="3") &#x1F579; 
        #sortable.sjs-default
            if site.data.things 
                each thing in site.data.things
                    - var link = thing.link || '/blog-cn/things/';
                    .sortable-card(data-type=thing.type)
                        img.card__picture(src=thing.image alt=thing.title)
                        .card-infos
                            case thing.status
                                when "放弃"
                                    p.card__title.dropped
                                        | !{thing.title}
                                default 
                                    p.card__title
                                        | !{thing.title}
                            p.card__text
                                | !{thing.price}
                            case thing.status
                                when "放弃"
                                    p.state
                                        i.fas.fa-star
                                            |  !{thing.status}
                                        a.test-post(href=thing.url)
                                            i.fas.fa-external-link-alt
                                                |  &#x6D4B;&#x8BC4;
                                when "种草"
                                    p.state
                                        i.fas.fa-star
                                            |  !{thing.status}
                                        a.test-post(href=thing.url)
                                            i.fas.fa-external-link-alt
                                                |  &#x6D4B;&#x8BC4;
                                when "购入"
                                    p.state.got
                                        i.fas.fa-star
                                            |  !{thing.status}
                                        a.test-post(href=link)
                                            i.fas.fa-external-link-alt
                                                |  &#x6D4B;&#x8BC4;
//- script(type='text/javascript' src='/blog-cn/js/things.js')

script.
    $('.nav__link').click(function typeSwitcher(){
    var type = $(this).data('sjslink');
    //- console.log("typeSwitcher: " + type);
    $('.sortable-card').hide();
    $('.sortable-card[data-type='+type+']').show();
    if(type === 0){
        $('.sortable-card').show();}
    });