script(data-pjax='' src=url_for(theme.pages.mapbox_language))
script(src=url_for(theme.pages.mapbox))
link(href=url_for(theme.pages.mapbox_css))

#travel-container
    #map(style='position:fixed; top:0; left:0; width: 100%; height: 105%;')
    section.travel-title-container
        .card__text-sm(onclick="resetLocation()") Shanghai - China
        .card__text-lg Traveling Record Page
        .card__text-md I love human being and the world but i don't love anyone.
        a.card__btn(href="/blog-cn/categories/生活/旅行/") Timeline 
    section.travel-card-container
        - site.posts.sort('date', 'desc').limit(site.posts.length).each(function (article) { 
            if article.travel
                section.card-sm(data-bearing=article.bearing data-center=article.center data-zoom=article.zoom data-pitch=article.pitch style="background-image:url("+article.top_img+"); background-position: center right;" onclick="activeSection(this)")
                    .section-info
                        p.card__text-sm
                            | !{date(article.date, config.date_format)}
                        a.card__text-lg(href=url_for(article.path))
                            | !{article.title}
        - })
script(src=url_for(theme.pages.travel_js))