link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/lightgallery@2.1.8/css/lightgallery.css')
script(src='https://cdn.jsdelivr.net/npm/lightgallery@2.1.8/lightgallery.min.js')
script.
  (()=>{
    const $countDom = document.getElementById('twikoo-count')
    const init = () => {
      twikoo.init(Object.assign({
        el: '#twikoo-wrap',
        envId: '!{theme.twikoo.envId}',
        region: '!{theme.twikoo.region}',
        onCommentLoaded: function () {
          var commentContents = document.getElementsByClassName('tk-content');
          for (var i = 0; i < commentContents.length; i++) {
            var commentItem = commentContents[i];
            var imgEls = commentItem.getElementsByTagName('img');
            if (imgEls.length > 0) {
              for (var j = 0; j < imgEls.length; j++) {
                var imgEl = imgEls[j];
                var aEl = document.createElement('a');
                aEl.setAttribute('class', 'tk-lg-link');
                aEl.setAttribute('href', imgEl.getAttribute('src'));
                aEl.setAttribute('data-src', imgEl.getAttribute('src'));
                aEl.appendChild(imgEl.cloneNode(false));
                imgEl.parentNode.insertBefore(aEl, imgEl.nextSibling);
                imgEl.remove();
              }
              //- lightGallery(commentItem, {
              //-   selector: '.tk-lg-link',
              //-   share: false
              //- });
            }
          }
        }
      }, !{JSON.stringify(theme.twikoo.option)}))
    }

    const getCount = () => {
      twikoo.getCommentsCount({
        envId: '!{theme.twikoo.envId}',
        region: '!{theme.twikoo.region}',
        urls: [window.location.pathname],
        includeReply: false
      }).then(function (res) {
        $countDom.innerText = res[0].count
      }).catch(function (err) {
        console.error(err);
      });
    }

    const loadTwikoo = (bool = false) => {
      if (typeof twikoo === 'object') {
        init()
        bool && $countDom && setTimeout(getCount,0)
      } else {
        getScript('!{theme.CDN.twikoo}').then(()=> {
          init()
          bool && $countDom && setTimeout(getCount,0)
        })
      }
    }

    if ('!{theme.comments.use[0]}' === 'Twikoo' || !!{theme.comments.lazyload}) {
      if (!{theme.comments.lazyload}) btf.loadComment(document.getElementById('twikoo-wrap'), loadTwikoo)
      else loadTwikoo(true)
    } else {
      window.loadOtherComment = () => {
        loadTwikoo()
      }
    }
  })()