
script(type="text/javascript" src=url_for(theme.pages.sketchfab))

.sketchfab-embed-wrapper(style="width: 100%;height: 100%;")
  iframe(runat='server' id="sketchfab-model" frameborder="0" sandbox="allow-scripts allow-same-origin" allow="autoplay; fullscreen; xr-spatial-tracking")
  #sketchfab_loading_cover
    img(src=url_for(theme.pages.sketchfab_cover_img))

#carousel
  each content,page in theme.carousel_contents
    .carousel-box
      //- | !{content.bg_img}
      //- .site-hi Hi, I'm KP.
      .site-info 
        .site-subtitle
          | !{content.subtitle}
        h1.site-title
          | !{content.title}
          a(onclick="plusSlides()") Next
  //- a#carouselNextSlide(onclick="plusSlides()") Next

  #carousel-indictors
    span.carousel-dot(onclick="currentSlide(1)")
    span.carousel-dot(onclick="currentSlide(2)")
    span.carousel-dot(onclick="currentSlide(3)")
    span.carousel-dot(onclick="currentSlide(4)")
//- script(src="https://cdn.jsdelivr.net/gh/Uzizkp/jscdn@main/blog/js/carousel.js")
script(src=url_for(theme.pages.carousel))
#site-name.site-name
  a KUANGPU
  br
  a ZHANG
#show-index-info
  a 
    i(class="fa-solid fa-arrow-left")
#pined-pages.pined-pages
  p LATEST NEWS
  - let i = 0;
  - let postLimit = 3
  - site.posts.sort('date', 'desc').limit(postLimit).each(function (article){
    - let link = article.link || article.path
    - let title = article.title || _p('no_title')
    - let no_cover = article.cover === false || !theme.cover.aside_enable ? 'no-cover' : ''
    - let post_cover = article.cover
    - let description = article.description
    if i == 0
      .page.top
        .description
          a(href=url_for(link) title=title)
            | !{title} - !{description}
          br
        img(src=url_for(post_cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=title)
    else if i == 1
      .page.mid
        .description
          a(href=url_for(link) title=title)
            | !{title} - !{description}
          br
        img(src=url_for(post_cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=title)
    else
      .page.bot
        .description
          a(href=url_for(link) title=title)
            | !{title} - !{description}
          br
        img(src=url_for(post_cover) onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'` alt=title)
    - i++
  - })


!= page.content