nav#nav
  span#blog_name
    a(href=url_for('/home/'))
      if theme.logo.img
        img#site-logo(src= theme.logo.img)
      else
         img#site-logo(src='/blog-cn/img/kp-logo.png')
    #head-page-title
      if theme.logo.title 
        a#page-name(href=url_for('/home/')) #[=theme.logo.title ]<br/>
      else
        a#page-name(href=url_for('/home/')) #[=config.title]<br/>
      a#site-slogan(href=url_for('/home/')) #[="HOME"]
    
  #menus
    if (theme.algolia_search.enable || theme.local_search.enable)
      #search-button
        a.site-page.social-icon.search
          i.fas.fa-search.fa-fw
          span=' '+_p('')
    !=partial('includes/header/menu_item', {}, {cache: true})

    #toggle-menu
      a.site-page
        i.fas.fa-bars.fa-fw